@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navigation-header {
    background-color: #1b1b1b;
    height: 8vh;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header-logo {
    & #logo-img {
        height: 40px;
        width: 40px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
}

#container-navigation-menu {
    background-color: #d71d4f3a;
    border-radius: 0.5rem;
    height: 50px;
    width: 800px;

    & a {
        font-family: "Poppins";
        font-weight: 500;
        font-size: 1.2rem;
        color: #ffffff;
        text-decoration: none;
        transition: 0.4s;
    }

    & a:hover {
        transform: scale(1.1);
    }

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#btn-header {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border-radius: 1.5rem;
    border: none;
    transition: 0.4s;

    background-color: #d71d4e;
    border: 2px solid transparent;

    & a {
        text-decoration: none;
        color: #fff;
        font-family: "Poppins";
        font-weight: 600;
    }

    &:hover {
        background-color: transparent;
        border: 2px solid #d71d4e;
        color: #d71d4e;
    }
}

/* Section para apresentar o perfil */

#profile-section {
    background-image: url(./images/cyberpunkWallpaper.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 92vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#my-profile {
    height: 60vh;
    width: 40vw;
    background-color: #222222e8;
    border-radius: 1.5rem;

    & #profile-img {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        border: 4px solid rgb(185, 24, 24);
        box-shadow: 0px 0px 10px rgb(255, 0, 43);
    }

    & #profile-name {
        color: #fff;
        font-family: "Poppins";
        font-size: 2.5rem;
    }

    & #profile-description {
        color: #ff0000;
        font-family: "Poppins";
        font-weight: 600;
        font-size: 2rem;
        background-color: #4405167a;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Section para mostrar 'sobre', 'cursos' e 'projetos' */

#above-section {
    background-color: #1b1b1b;
    height: 200vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#courses-above {
    border-top: 8px solid rgba(255, 0, 0, 0.411);
    border-bottom: 8px solid rgba(255, 0, 0, 0.411);
    background-color: #202020;
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#main-title {
    align-self: center;
    color: #fff;

    & h1 {
        font-size: 9rem;
        font-family: 'Poppins';
    }
}

.courses-content {
    font-family: 'Poppins';
    font-size: 0.8rem;

    width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    & .courses-description {
        color: #adadad;
    }

    & .duration-time {
        font-size: 0.9rem;
        color: #ff0000;
        font-weight: 600;
    }
}

.courses-title {
    display: flex;
    align-items: center;
    color: #fff;

    & #infinity {
        margin-left: 5px;
        height: 27px;
        width: 27px;
        transition: 0.4s;

        &:hover {
            filter: drop-shadow(0px 0px 5px rgb(194, 0, 0));
        }
    }

    & #fundacao {
        margin-left: 1px;
        transition: 0.4s;

        &:hover {
            filter: drop-shadow(0px 0px 5px red);
        }
    }

    & .courses-img {
        margin-left: 2px;
        height: 33px;
        width: 33px;
        transition: 0.4s;

        &:hover {
            filter: drop-shadow(0px 0px 5px rgb(14, 170, 14));
        }
    }
}

#courses-container {
    height: 90vh;
    width: 40vw;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    & .courses-cards {
        background-color: #252525;
        border-radius: 0.5rem;
        height: 24vh;
        width: 40vw;
        transition: 0.4s;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:hover {
            filter: drop-shadow(0px 0px 1px red);
        }
    }
}

/* Section dos projetos */

#projects-section {
    background-color: #202020;
    height: 140vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    flex-direction: column;

    & #projects-title {
        color: #fff;
        font-size: 3rem;
        font-family: 'Poppins';
    }

    & #container-prjt-cards {
        height: 140vh;
        width: 50vw;
        margin-top: 5px;
        gap: 4rem;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        & .projects-cards {
            background-color: #252525;
            border-radius: 0.5rem;
            height: 480px;
            width: 350px;
            transition: 0.4s;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .projects-img img {
                object-fit: cover;
                border-radius: 0.5rem;
                height: 200px;
                width: 310px;
                margin-bottom: 20px;
            }

            &:hover {
                filter: drop-shadow(0px 0px 2px red);
            }
        }

        & .desc-projets {
            height: 210px;

            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            align-items: center;
            justify-content: center;

            & .project-title {
                color: #fff;
                font-family: 'Poppins';
                font-size: 1.7rem;
            }

            & .project-for {
                color: red;
                font-family: 'Poppins';
                font-size: 1.2rem;
                margin-bottom: 15px;
            }

            & .project-desc {
                color: #fff;
                font-family: 'Poppins';
                font-size: 0.8rem;
                margin-bottom: 15px;
            }

            & .btns-container {
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 3rem;

                & .btn-default a {
                    text-decoration: none;
                    color: #fff;
                    font-family: 'Poppins';
                    font-weight: 600;
                }

                & .btn-default {
                    background-color: rgba(255, 0, 0, 0.411);
                    border: 1px solid rgba(255, 61, 61, 0.384);
                    border-radius: 0.5rem;
                    padding: 0.4rem;
                    transition: 0.4s;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.2rem;

                    &:hover {
                        background-color: rgba(255, 0, 0, 0.123);
                        border: 1px solid rgb(255, 0, 0);
                    }

                    & i {
                        font-size: 1.2rem;
                        color: white;
                    }
                }
            }
        }
    }
}

#page-footer {
    background-color: #1b1b1b;
    border-top: 8px solid rgba(255, 0, 0, 0.411);
    height: 10vh;
    padding: 4rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    & #copyright {
        color: #fff;
        font-family: 'Poppins';
    }

    & #second-info {
        color: #727272;
        font-family: 'Poppins';
        font-weight: 400;
    }

    & #third-info {
        color: #ff0000;
        font-family: 'Poppins';
        font-weight: bold;
    }
}